<% provide(:title, 'Sign up') %>
<h1>Create new Account</h1>

<%= form_tag :action => 'create' do %>
 <%= render 'shared/error_messages' %>
<p><label for = "empresa_correo">Correo</label>:

<%= text_field 'empresas', 'correo', class: 'form-control' %></p>
<p><label for = "empresa_rfc">RFC</label>:

<%= text_field 'empresas', 'rfc' ,class: 'form-control' %></p>
<p><label for = "empresa_nomdueno">Nombre completo del dueno</label>:

<%= text_field 'empresas', 'nomdueno', class: 'form-control' %></p>
<p><label for = "empresa_nombre">Nombre de la Empresa</label><br/>

<%= text_area 'empresas', 'nombre', class: 'form-control' %></p>
<p><label for = "empresa_password">Contrasena</label><br/>

<%= password_field 'empresas', 'password', class: 'form-control' %></p>
<p><label for = "empresa_password_confirmation">Confirmar Contrasena</label><br/>

<%= password_field 'empresas', 'password_confirmation', class: 'form-control' %></p>

<%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', root_path %>